@font-face {
    font-family: bold;
    src: url("Panton-Bold.ttf");
}

@font-face {
    font-family: semi;
    src: url("Panton-SemiBold.ttf");
}

@font-face {
    font-family: regular;
    src: url("Panton-Regular.ttf");
}